.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.price {
  font-size: 1.1rem;
  font-weight: bold;
}
/* .card {
  width: 250px;
} */
.card-img-top,
.card-img-bottom {
  width: 100%;
  border-radius: 5px;
  padding: 25px;
}
.custom-ml-mt {
  margin-top: 3rem !important;
  margin-left: 2%;
}

.el-card-overlay {
  margin-left: -4%;
  margin-right: -4%;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  border-radius: 5px;
}
.btn-warning-gradient {
  border: none;
  background: linear-gradient(40deg, #fc6262, #ffd86f);
}
.el-margin-left {
  margin-left: auto !important;
}
.btn-warning {
  color: #fff !important;
}
.card .btn-action {
  margin-top: -1.44rem;
  margin-bottom: -1.44rem;
}
.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%),
    0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  margin-top: -8px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 40px;
  color: #fff;
}
.addCartIcone {
  margin-right: 8px;
}
.card .products__title {
  font-size: 15px;
  font-weight: 600;
}
.categoriesList {
  display: flex;
  justify-content: center;
  width: 600px;
}
.btn-custom {
  margin-right: 5px;
  border-radius: 20px !important;
  width: 100px;
}
